:root {
    --brancoAbsoluto: #FFFFFF;
    --brancoAmeno: #F8F8FF;
    
    --pretoAbsoluto: #000000;
    --pretoAmeno: #1C1C1C;

    --roxoPrimario: #612A92;
    --roxoSecundario: #582c92;
    --verdePrimario: #C5E72A;
    --verdeSecundario: #657C13;
    --cinzaPrimario: #AAAAAA;
    --cinzaSecundario: #EFF1EE;



    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

