.orders__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .orders__head h1 {
        width: 45%;
        display: inline-block;

    }

    .orders__head select {
        width: 100%;
        height: 2rem;
        border: 2px solid var(--roxoPrimario);
        border-radius: 6px;
        background-color: var(--cinzaSecundario);
        color: var(--roxoSecundario);
        font-size: 1rem;
        padding: .25rem 2rem .25rem .5rem;
    }

    .orders__head select:focus {
        outline: none;
    }

    .orders__head select option:checked {
        background-color: var(--roxoPrimario);
        color: var(--brancoAbsoluto);
        outline: none;
    }



.orders__content {
    padding: .5rem 0;
}

    .orders__content__list {
        display: flex;
        flex-direction: column;
    }

    .orders__item {
        border: 1px solid var(--cinzaSecundario);
        border-radius: 2px;
        margin-bottom: 1rem;
        padding: 0 1rem;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        transition: box-shadow .35s ease .1s;
        
    }

    .orders__item:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    .orders__item dt {
        color: var(--pretoAmeno);
        font-size: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid var(--cinzaSecundario);
        line-height: 2rem;
    }

    .orders__item dd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        padding: .6rem 0;
        color: var(--pretoAmeno);
    }

    .orders__item__orderBody span {
        font-weight: 400;
        color: var(--cinzaPrimario);
        font-size: .8rem;
    }

        .item__orderBody--photo {
            max-width: 80px;
            width: 80px;
            vertical-align: middle;
            max-height: 80px;
        }

        .item__orderBody--photo img {
            max-width: 100%;
            width: 100%;
            height: auto;
            max-height: 100%;
        }

        .item__orderBody--description {
            width: 40%;
            font-size: .8em;
        }

        .item__orderBody--price {
            text-align: right;
            width: 25%;
            font-size: .8rem;
        }


@media screen and (min-width: 769px) {

    .orders__head {
        flex-direction: row;
    }

    .orders__head select {
        width: 30%;
    }

    .orders__head select:hover, .orders__head select:focus {
        box-shadow: none !important;
        outline-offset: 0px;
        outline: none;
    }

    .orders__head select option:hover {
        background-color: (--brancoAbsoluto) !important;
    }

    .orders__item {
        padding: 0 2rem;
    }

    .orders__item dd {
        font-weight: 700;
    }

    .item__orderBody--description {
        font-size: 1rem;
    }

    .item__orderBody--price {
        font-size: 1rem;
    }
}
