.client__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0;
    font-weight: 700;
}

.client__content pre::first-line {
    font-weight: 400;
    color: var(--cinzaPrimario);
}


@media screen and (min-width: 769px) {

    .client__content {
        display: row;
    }

}

