:root {
    --brancoAbsoluto: #FFFFFF;
    --brancoCintilante: #FEFEFE;
    --brancoAmeno: #F8F8FF;
    --brancoAmenoTransparente: #F8F8FFAA;
    
    --pretoAbsoluto: #000000;
    --pretoCintilante: #010101;
    --pretoAmeno: #1C1C1C;
    --pretoAmenoTransparente: #1C1C1CAA;

    --roxoPrimario: #612A92;
    --roxoSecundario: #582c92;
    --verdePrimario: #C5E72A;
    --verdeSecundario: #657C13;



    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}